<style type="text/css">
		body{background-color:grey;}
		#para{color: floralwhite; font-family: fantasy;}
	</style>

<style type="text/css">
	h1{color: lightpink;}
	h1{font-style: italic;}
	#list{color: lightpink;font-size: 20px;font-style: italic;}
	h3{color: darkslategrey;}
	h3{font-style: oblique;}
	a{color: purple;}
</style>

<style type="text/css">
			h1{text-decoration: underline;}
		</style>

<style type="text/css">
		.para {text-align: left;font-size:1.5em;color: lightgray;font-family: fantasy;}

	</style>

<style type="text/css">
		li{color:floralwhite;}
		li{font-style:italic;}
		</style>

<style type="text/css">
			.box{ color: lightgray; font-family: fantasy; }
		</style>

<style type="text/css">
		#title{color: floralwhite ; text-decoration: underline; text-decoration-color: lightpink;}
		#sub{color: floralwhite; text-decoration: underline; text-decoration-color: lightpink;}
	</style>

<style type="text/css">
		#Hawaii{font-size: 40px; text-decoration: underline; color:orange; text-decoration-color: floralwhite; text-decoration-style: wavy; }
	</style>

<style type="text/css">
		#Norway{ font-size: 40px; text-decoration: underline; color: deepskyblue; text-decoration-color: floralwhite;
			text-decoration-style: wavy;}
	</style>

<style type="text/css">
		#japan{font-size: 40px;text-decoration: underline; color:darkred; text-decoration-color: floralwhite; text-decoration-style: wavy;}
	</style>

<style type="text/css">
		#italy{font-size: 40px; text-decoration: underline;color: darkgreen; text-decoration-color: floralwhite; text-decoration-style: wavy;}
	</style>

<style type="text/css">
		#france{font-size:40px; text-decoration: underline; color: lemonchiffon; text-decoration-color: floralwhite; text-decoration-style: wavy};
	</style>

<style type="text/css">
		.explain{ font-size: 20px; color:antiquewhite ;font-family: fantasy;}
	</style>

<style type="text/css">
	 	div{background-color:lightpink;}
	 	input{color: black; background-color: lightpink; padding: 7px;}
	 	form{padding: 15px;border:antiquewhite; border-style: groove;}
	 </style>

	 <style type="text/css">
	 	.form{font-size: 20px; font-family: fantasy; color:dimgrey; font-weight: 900;}
	 	

	 </style>








